.logo img{
    height: 40vh;
    width: 60vh;
}

.heading{
    text-align: center;
    margin-top: 100px;
}
.logo p{
    font-size: medium;
    font-weight: bold;
    font-style: italic;

}



form p{
    font-size: large;
    font-weight: bold;
}

.quiz1{
    margin-top: 50px;
    border-radius: 2px;
    text-align-last: left;
    padding: 20px; 
    width: 1200px;
    height: 150px;  
    border: 2px solid #23A6F0;
    background-color: whitesmoke;
    
    
    
}
.quiz1 p{
    font-weight: normal;
}

.quiz2{
    margin-top: 100px;
    border-radius: 2px;
    text-align-last: left;
    padding: 20px; 
    width: 1200px;
    height: 180px;  
    border: 2px solid #23A6F0;
    background-color: whitesmoke;
}

.quiz3{
    margin-top: 100px;
    border-radius: 2px;
    text-align-last: left;
    padding: 20px; 
    width: 1200px;
    height: 200px;  
    border: 2px solid #23A6F0;
    background-color: whitesmoke;
}

.quiz4{
    margin-top: 100px;
    border-radius: 2px;
    text-align-last: left;
    padding: 20px; 
    width: 1200px;
    height: 180px;  
    border: 2px solid #23A6F0;
    background-color: whitesmoke;
}

.quiz5{
    margin-top: 100px;
    border-radius: 2px;
    text-align-last: left;
    padding: 20px; 
    width: 1200px;
    height: 180px;  
    border: 2px solid #23A6F0;
    background-color: whitesmoke;
}
.logo p{
    float:left;
}

.motto{
    float: right;
    
}
.main{
    background-color: #b29700 ;
}


.foot {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #b29700;
    


}
.foot p{
    font-weight: bold;
}

#BTN{
    margin-top: 30px;
    border-radius: 10px;
    border:  2px solid#23A6F0;
    height: 10vh;
    width: 20vh;
    background-color: beige;
    font-weight: bold;
}
